/*public*/
.fl{float: left;}
.fr{float: right;}
.clearfix { zoom:1; }
.clearfix:after { content:''; display:block; clear:both;}
*{font-size: 14px;}
.triangle_down_gray {
	position:absolute;
	width:0; height:0; 
	overflow:hidden; 
	border-left:4px solid transparent; 
	border-right:4px solid transparent;
	border-top:4px solid #c4c3c3;
	}
/*end public*/
/*头部黑色导航*/
#lg_hbar,#lg_hnav{min-width:1200px;}
#lg_hbar{background: #333;}
#lg_hbar .inner{width: 1308px;margin: 0 auto;}
.lg_hbar_l a,.lg_hbar_r li a,.unick{margin-top: 7px;display:block;float: left;}
.lg_app{padding: 0 12px 0 27px;background:url(../img/app_icon_0495d1d.png) no-repeat 10px 0 ;color: #08d7a2;line-height: 15px;}
.lg_os,.lg_hbar_r li a,.unick{color: #c4c3c3;padding: 0 12px;border-left:1px solid #c4c3c3;cursor: pointer;}
.lg_os:hover{color: white;}
.lg_hbar_r li{float: left;position: relative;height: 30px;}
.lg_hbar_r li a:hover,.lg_hbar_r li .unick:hover{color: white;}
.lg_hbar_r li a.msg_dropdown{border-left: none;}
.lg_hbar_r li.user_dropdown{padding-right: 15px;}
.user_dropdown em{position: absolute;top: 12px;right: 10px;}
.user_dropdown ul{position: absolute;top: 30px;right:0;z-index: 999;padding-bottom: 10px;background: #333;}
.user_dropdown li{float: none;width: 80px;}
.user_dropdown li a{color: #c4c3c3;display: block;line-height: 30px;width: 100%;border-left:none ;margin: 0;padding: 0;text-align: center;}


/*头部黑色导航end*/
/*头部白色导航*/
#lg_hnav{
	height: 54px;
	background:#fafafa;
	border-top: 1px solid #d2d2d2;
	border-bottom: 1px solid #e5e5e5;
	}
#lg_hnav .inner{width: 1200px;margin: 0 auto;}
#lg_hnav .lg_hnav_l{width: 260px;}
#lg_hnav .lg_logo{display: block;float: left;margin-top: 10px;}
#lg_hnav .lg_logo h1{
	width: 97px;
	height: 34px;
	overflow: hidden;
	background: url(../img/logo_1c5763c.png) no-repeat;
	margin: 0;}
#lg_hnav .suggestCity{
	float: left;
	height: 44px;
	line-height: 44px;
	padding: 10px 0 0 12px;
}
#lg_hnav .suggestCity strong{
	margin-right: 8px;
	font-weight: 400;
	font-size: 18px;
}
#lg_hnav .suggestCity em{
	font-size: 12px;
	font-style: normal;
	color: #999999;
	cursor: pointer;
}
#lg_hnav .lg_hnav_warp li{
	float: left;
	margin: 0 16px;
}
#lg_hnav .lg_hnav_warp li a{
	display: block;
	line-height: 53px;
	padding: 0 5px;
	font-size: 18px;
	color: #999999;
}
#lg_hnav .lg_hnav_warp li a.current,#lg_hnav .lg_hnav_warp li a:hover{
	border-bottom: 2px solid #00b38a;
	color: #333333;
}
.user_dropdown li a:hover{background: #000000;}

/*头部白色导航end*/
/*footer*/
#footer{
	position: relative;
	border-top:1px solid #ebebeb ;
}
#footer .inner_wrap{
	max-width: 1200px;
	width: 1200px;
	margin: 49px auto 66px;
	white-space:nowrap;
	display: flex;
}
#footer .footer_module_l{
	padding-right: 130px;
	border-right:1px solid #E8E8E8 ;
}
#footer .footer_app,#footer .footer_mini{
	display: block;
	width: 180px;
	line-height: 22px;
	padding: 10px 0 8px;
	border: 1px solid #00B38A;
	color: #00B38A;
	margin-bottom: 16px;
	text-align: center;
	position: relative;
	
}
#footer .footer_app:hover,#footer .footer_mini:hover{background: #00B38A;color: white;}
#footer .footer_module_l img{
	position: absolute;
	display: block;
	width: 140px;
	height: 140px;
	box-shadow: 0 2px 8px 0 rgba(0,0,0,.1);
	border-radius:3px ;
}
#footer .footer_wechat img{
	top: 32px;
	left: 0;
}
#footer .footer_app_icon{
	display: inline-block;
	width: 12px;
	height: 16px;
	margin-right: 7.6px;
	background: url(../img/sprite_9dd5c92.png) -150px -220px no-repeat ;
}
#footer .footer_mini_icon{
	display: inline-block;
	width: 16px;
	height: 14px;
	margin-right: 6.4px;
	background: url(../img/sprite_9dd5c92.png) -214px -54px no-repeat ;
}
#footer .footer_app img,#footer .footer_mini img{
	top: 0;
	right: -150px;
	z-index: 99;
}
#footer .footer_module_item {
	display: flex;
	justify-content:space-between}
#footer .footer_module_item a{
	position: relative;
	color: #333333;	
}
#footer .footer_wechat_icon{
	display: inline-block;
	width:16px ;
	height: 16px;
	margin-right: 5px;
	background: url(../img/sprite_9dd5c92.png) -114px -184px no-repeat;
}
#footer .footer_weibo_icon{
	display: inline-block;
	width:16px ;
	height: 16px;
	margin-right: 5px;
	background: url(../img/sprite_9dd5c92.png) -214px -20px no-repeat;
}
#footer .footer_module_item a:hover{color: #00A57F;}
#footer .footer_module_r{
	display: flex;
	margin-left: 130px;
	justify-content:space-between;
	flex: 1;
}
#footer .footer_mb_title{
	margin-bottom: 30px;
	font-size: 18px;
	font-weight: 600;
	color: #555555;
}
#footer .footer_module_r a,#footer .footer_module_r span{
	display: block;
	margin-bottom: 10px;
	color: #555555;
}
#footer .footer_module_r a:hover{color: #00B38A;}
/*copyright*/
#footer .copyright{
	background: #FAFAFA;
	color: #999;
	height: 100px;
}
#footer .copyright_inner{
	width: 1200px;
	padding: 28px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content:space-between;	
}
.copyright_main_left{width: 750px;display: flex;align-items: center;}
.copyright_main_left span,.copyright_main_left a,.copyright_main_left em{color: #999999;}
.copyright_main_left a:hover{color: #555;}
.copyright_title{margin-right: 5px;}
.footer_lagou_gongan{
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-top: 5px;
	margin-left: 20px;
	background: url(../img/sprite_9dd5c92.png) -150px -184px no-repeat;
}
.lagou_jubao{
	display: inline-block;
	width: 20px;
	height: 24px;
	margin-right: 10px;
	background: url(../img/sprite_9dd5c92.png) -132px -20px no-repeat;
}
.footer_lagou_jubao{
	padding: 8px 20px;
	margin-left: 20px;
	border: 1px solid #D5DADF;
}
.footer_lagou_jubao p{
	display: inline-block;
}
.footer_lagou_icon{
	display: inline-block;
	width: 198px;
	height: 19px;
	background: url(../img/footer_lagou_icon_75f0ebc.png) no-repeat;
	}

/*footerend*/
/*内部公共样式*/
.wordCut{text-overflow:ellipsis;overflow: hidden;white-space:nowrap;}
em{font-style:normal ;}

