.container{padding-bottom: 39px;}
.dn{display: none;}

/*containt头部*/
.contain_header{position: relative;}
.search_wrapper{padding: 30px 0 28px;min-width: 1200px;background: #F2F5F4;}
.search_box{width: 938px;height: 46px;margin: 0 auto;position: relative;}
.search_box .search_input{
	width: 762px;
	height: 20px;
	line-height: 20px;
	padding: 12px 16px;
	font-size: 16px;
	border: 1px solid #E8E8E8;
	border-right:0 ;
}
.search_box .search_submit{
	width: 142px;
	height: 46px;
	line-height: 46px;
	color: white;
	background: #00B38A;
	font-size: 18px;
	border:0 ;
}
.search_submit:hover{background:#00a57f;}
.hot_search{
	width: 938px;
	height: 22px;
	margin: 6px auto 0;
	overflow: hidden;
}
.hot_search dt,.hot_search dd{float: left;}
.hot_search dt{
	margin-right: 10px;
	color: #777;
}
.hot_search dd{margin-right: 20px;}
.hot_search dd a{color: #00B38A;}
.hot_search dd a:hover{text-decoration: underline;}
/*猜你想搜*/
.pos-guess-wrapper{
	position: relative;
	width: 938px;
	margin: 0 auto;	
}
.pos-guess_body{
	position: absolute;
	width: 795px;
	background: white;
	z-index: 999;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.08);
	border-radius: 3px;
}
.pos-guess_body span{display: block;color: #999999;padding: 5px 17px;}
.pos-guess_body li{color: #555555;padding: 8px 17px;cursor: pointer;}
.pos-guess_body li:hover{color: white;background: #00B38A;}
/*猜你想搜end*/
/*containt头部结束*/
.contain_body{
	margin: 26px auto 0;
	width: 1200px;
}
/*工具栏*/
.sidebar{
	position: relative;
	float: left;
	width: 321px;
	margin-left: -15PX;
}
.menu_box,.menu_main,.category-list{position: relative;}
.menu_main{padding: 18px 0 17px;}
.category-list{height: 20px;border-right:0 ;line-height: 20px;}
.category-list h2{display: inline-block;padding-left: 15px;font-size: 18px;font-weight: 500;z-index:9999;}
.category-list a{margin: 0 5px 5px 0;padding: 0 8px;white-space: nowrap;color: #555;}
.category-list a:hover{color: #00B38A;text-decoration: underline;}
.category-list .arrow{position: absolute;right: 0;top: 6px;width: 6px;height: 11px;margin-right: 8px;
	background: url(../img/arrow_92b8589.png) 0 0 no-repeat;
}
.menu_sub{
	position: absolute;
	left: 321px;
	top: 0;
	width: 600px;
	background: #FFFFFF;
	padding: 20px 10px 0 12px;
	z-index: 999;
	border-radius:2px ;
	box-shadow: 0 0 4px 2px rgba(0,0,0,.09);
	border-top-left-radius:0 ;
}
.menu_sub dl{margin: 0 0 17px;}
.menu_sub dt{
	position: relative;
	width: 70px;
	padding-left:10px ;
	line-height: 20px;
	margin-bottom: 6px;
}
.menu_sub dt span{display: inline-block;color: #333333;}
.menu_sub dd a{display: inline-block;color: #777777;margin-left: -1;padding: 0 11px;line-height: 28px;white-space:nowrap; }
.menu_sub dd a:before{
	content: '';
	position: absolute;
	width: 1px;
	height: 12px;
	background: #D8D8D8;
	top: 8px;
	left: 0;
	
}
.menu_sub dd a:hover{color: #00B38A;}
/*工具栏结束*/
/*轮播*/
.home_banner{position: relative;margin-left:360px;padding-top:20px;height: 346px;overflow: hidden;}

/*友情链接*/
.module-tabs{margin: 52px 0 14px;border-bottom: 1px solid #E8E8E8;}
.module-tabs li{display: inline-block;padding: 14px 0;margin-right: 58px;font-size: 16px;cursor: pointer;}
.module-tabs li.cursor{border-bottom:2px solid #333333;} 
.link_box.show-linkbox{height:33px;}
.link_box{position: relative;overflow: hidden;}
.link_box dd{overflow: hidden;}
.link_box dd a{display:inline-block;color:#555555 ;height: 15px;padding: 8px 18px 8px 0;float: left;white-space: nowrap;}
.link_box dd a:hover{color: #00B38A;text-decoration: underline;}
.expansion{position: absolute;display:inline-block;top: 0;right:3px;height: 32px;line-height: 32px;cursor: pointer;color: #999999;}
.expansion i{display: inline-block;width: 12px;height: 12px;margin-left: 5px;background: url(../img/arrow_down2_eea7e54.png) 0 3px no-repeat;vertical-align: middle;}
.expansion .i-up{
	transform:rotate(180deg);
	-ms-transform:rotate(180deg); 	/* IE 9 */
	-moz-transform:rotate(180deg); 	/* Firefox */
	-webkit-transform:rotate(180deg); /* Safari 和 Chrome */
	-o-transform:rotate(180deg); 	/* Opera */
	vertical-align:0px;
}
/*推荐职位*/
.recommend_tips{height: 18px;line-height: 18px;margin: 14px 0 18px;}
.recommend_tips_icon{display:inline-block;width: 18px;height: 18px;background: #e6e6e6;border-radius:9px ;color: white;line-height: 18px;text-align: center;margin-right: 10px;}
.recommend_tips em{margin-right: 40px;color: #999999;font-style: normal;}
.tips,.tips a{color: #00B38A;}
.tips{padding: 0px 12px;cursor: pointer;}
.re_tips_iknow{border-right:1px solid #D8D8D8;}
.position_list .position_list_ul{width: 1216px;}
.position_list .position_list_ul .position_list_item{
	float: left;
	position: relative;
	box-sizing: border-box;
	width: 389px;
	height: 200px;
	margin: 16px 16px 0 0;
	padding: 20px 18px 0;
	border: 1px solid #EAEEED;
}
.position_list .position_list_ul .position_list_item:hover,.ad-companys .ad-company-list li:hover{
	-moz-box-shadow: 0 0 10px 0 rgba(56,81,76,.12);
	-webkit-box-shadow: 0 0 10px 0 rgba(56,81,76,.12);
}
.pli_top .pli_top_t{height: 22px;line-height: 22px;}
.pli_top .pli_top_t .position_name{max-width: 290px;}
.pli_top .pli_top_t h2,.pli_top .pli_top_t h2 a{color: #333;font-size:16px;max-width: 145px;text-overflow:ellipsis;overflow: hidden;white-space:nowrap;word-wrap: normal;}
.pli_top .pli_top_t .create-time{color:#999 ;}
.pli_top .pli_top_t .salary{font-size: 16px;color: #fa6041;}
.pli_top .pli_top_info{height: 30px;line-height: 30px;color: #777777;}
.pli_top .pli_top_info span+span:before{
	content: "/";
}
.pli_top  .pli_top_lable{margin-top: 5px;margin-right: 20px;height: 30px;line-height: 30px;overflow: hidden;}
.pli_top  .pli_top_lable span{display:inline-block;width:61px;padding: 0 5px;height: 25px;line-height: 26px;
	font-size: 12px;color: #999;border: 1px solid #F0F0F0;border-radius: 3px;text-align: center;}
.pli_top  .pli_top_lable span+span{margin-left: 6px;}
.pli_btm{margin-top: 18px;padding-top: 18px;border-top: 1px dashed #E0E0E0;}
.pli_btm .company-logo{display:inline-block;width: 40px;height: 40px;}
.pli_btm .pli_btm_right{margin-left: 54px;}
.pli_btm .company_name a{color: #555555;}
.pli_btm .company_name a:hover{color: #00B38A;}
.pli_btm .industry{height:20px;line-height:20px;color: #999;}
.pli_btm .industry span+span:before{content: "/";}
.look_more{display: block;width: 387px;height: 42px;border:1px solid #00B38A;margin: 16px auto 0;font-size:16px;line-height: 42px;text-align: center;
	color: #00B38A;}
.look_more:hover{background: #00B38A;color: white;}
/*推荐职位*/
/*热门公司*/
.ad-companys{width: inherit;}
.ad-companys .ad-company-list{width: 1216px;}
.ad-companys .ad-company-list li{float:left;width:288px ;height: 270px;margin: 16px 16px 0 0;border: 1px solid #EEE;box-sizing: border-box;}
.ad-companys .ad-company-list li.wordCut ,.ad-companys .ad-company-list  p.wordCut{text-overflow:ellipsis;overflow: hidden;white-space:nowrap;}
.ad-companys .aci_top{margin: 0 13px;padding: 20px 0 14px;border-bottom: 1px dashed #E0E0E0;text-align: center;}
.ad-companys .aci_top .company-logo img{display: inline-block;width: 80px;height: 80px;}
.ad-companys .aci_top .company-name{margin-top: 13px;font-size: 16px;color: #333;height: 22px;line-height: 22px;}
.ad-companys .aci_top .company-name a{color: #333;font-size: 16px;}
.ad-companys .aci_top .indus_stage{height: 22px;margin-top: 3px;color: #999999;line-height: 22px;}
.ad-companys .aci_top .advantage{line-height: 22px;}
.ad-companys .aci_btm .bottom_item{margin-top: 17px;text-align: center;display: block;}
.ad-companys .aci_btm .aci_btmi_1,.ad-companys .aci_btm .aci_btmi_2{width: 90px;border-right:1px dashed #EEE ;}
.ad-companys .aci_btm .aci_btmi_3{width: 104px;}
.ad-companys .ad-company-list .bottom_item .green{color: #00B38A;}
.ad-companys .ad-company-list .bottom_item .gray{color: #999999;font-size: 12px;margin-top: 4px;}
.ad-companys .ad-company-list .bottom_item .gray:hover{color: #00B38A;}
/*轮播图*/
.swiper-container {
      width:840px;
      height: 346px;
    }

.swiper-container img,.swiper-container a{display: block;width: 840px;height: 346px;}
.swiper-button-next{background: url(../img/banner_arrow_right_highlight_8f1f320.png) no-repeat !important;}
.swiper-button-prev{background: url(../img/banner_arrow_left_80dbc0e.png) no-repeat !important;}
