.container{
	width: 1200px;
	margin: 30px auto 0;
	padding-bottom:100px ;
	overflow: hidden;
	
}
.contain_l{
	float: left;
	width: 960px;
}
li.rec_item{
	position: relative;
	margin-bottom: 18px;
	color: #555555;
	border: 1px solid #ededed;
	
}
.recommend_list .rec_item_l{
	float: left;
	width: 528px;
	height: 68px;
	margin-right: 20px;
	padding-top: 14px;
	padding-left:15px;
}
.recommend_list .rec_item_r{
	float: left;
	width: 380px;
	height: 68px;
	padding-top: 14px;
	padding-right:15px;
}
.recommend_list .row{
	height: 34px;
	margin: 0;
	line-height: 34px;
}
.recommend_list .g3{
	font-size: 16px;
	color:#00b38a ;
}
.recommend_list .posAdd{
	margin-right: 6px;
}
.recommend_list .posDate{
	color: #999999;
}
.recommend_list .salary{
	font-size:16px ;
	color: #fe6161;
	margin-right:1em ;
}
.recommend_list .coLeft{
	width: 303px;
	margin-right:15px ;
}
.recommend_list .coLogo img{
	display: block;
	width: 60px;
	height: 60px;
}
.recommend_list .rec_item_b{
	height: 40px;
	padding: 0 15px;
	background: #fafafa;
}
.recommend_list .pos_welfare{
	float: left;
	width: 528px;
	height: 40px;
	line-height: 40px;
	margin-right: 20px;
}
.recommend_list .pos_welfare span{
	display: inline-block;
	line-height: 20px;
	padding: 0 5px;
	border: 1px solid #dcdcdc;
	border-radius:3px ;
	text-align: center;
	font-size:12px ;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
}
.recommend_list .coadv{
	width: 380px;
	height: 40px;
	overflow: hidden;
	white-space: nowrap;
	line-height: 40px;
}
.pagination{
	
	margin-left: 35%;
	overflow: hidden;
	line-height: 30px;
	text-align: center;
	margin-bottom: -10px;
}
.pagination a{
	display: inline-block;
	height: 30px;
	margin: 0 10px 10px 0;
	padding: 0 10px;
	line-height: 30px;
	color: #555;
	border: 1px solid #EDEDED;
	
}
.pagina a:hover{
	background:#00b38a ;
	color: white;
}
.pagina li{
	float: left;
}


/*推荐标题*/
.recommend_tips{height: 18px;line-height: 18px;margin: 14px 0 18px;}
.recommend_tips_icon{display:inline-block;width: 18px;height: 18px;background: #e6e6e6;border-radius:9px ;color: white;line-height: 18px;text-align: center;margin-right: 10px;}
.recommend_tips em{margin-right: 40px;color: #999999;font-style: normal;}
.tips,.tips a{color: #00B38A;}
.tips{padding: 0px 12px;cursor: pointer;}
.re_tips_iknow{border-right:1px solid #D8D8D8;}